body {
    font-family: 'Lato', sans-serif;

}
h2 {
  color: black;
}
.mb-0 {
  color: black;
}

/* button for About us*/
.button {
  border-radius: 4px;
  background-color: #0B6891;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* partnerships logo*/
#wwf  {
  max-height: 80px;
  max-width: 40%;
  position: relative;
  top: -30px;
}
#green {
  max-height: 30px;
  max-width: 200px;
  }
#ng {
  max-height: 50px;
  max-width: 50%;
}
/* subscribe*/
/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}
/* Style the submit button */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
}
input[type=submit]:hover {
    opacity: 0.8;
}

/* About us boxes with info*/
.tab-content {
  color: white;
  margin-left: 30px;
}
/* what we do html file - boxes with info*/
#Tab3 .tab-content {
  color : white;
  background-color: #0B6891;
  padding : 5px 15px;
}
#nav {
    background-color: #0B6891;
}
/* about_us */
iframe {
  position: relative;
  align-items: center;
}
/*about us*/
/*top fixed navbar*/
li {
  display: inline;
  padding: 10px 10px 10px 10px;
  text-align: center;
}
li a {
  color: #0B6891;
  padding: 10px 10px 20px 10px;
  text-align: center;
  display: inline-grid;
  font-size: 18px;
}
.navbar-brand {
font-size: 30px;
}
 h1 {
   font-size: 50px;
   color: black;
   height: 100%;
  }
#first-submit {
  border-radius: 4px;
  background-color: #0B6891;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#newsletter {
  text-align: center;
}
