<!DOCTYPE html>
<head>
<title> Chrt.</title>
<link rel='shortcut icon' href="static/img/lg1.png">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<!-- script for nav tab -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>Chrt.</title>

<!-- Bootstrap Core CSS -->
<link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/staticcss/stylish-portfolio.min.css" rel="stylesheet">
<link href="static/page1.css" rel="stylesheet">
<link href='/static/vendor/bootstrap/css/bootstrap.css' rel='stylesheet'>


<body>
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('index') }}">Chrt.</a>
        </div>
      <a id="donate" class="pull-right" href="{{ url_for('index') }}"> <button class="btn btn-danger navbar-btn">Join us</button></a></div>
      </div>
    </nav>
</header>

  <div id="nav" class='container'>
  <div class='jumbotron'>
  <div class="row">
      <h1> About Us </h1>
  </div>
    <h2> CHRt. is a UK non governmental organisation, which is working towards global warming solution </h2>
    <h4>
        We aim to spread the knowledge about the global warming and consequences it is going to bring to an everyday life.
        One person can make a difference. Join our campaigns supporting research expeditions of Antarctica's flora and fauna!
        Our company was inspired back in 2007 by the National Geographic video and conference explaining the importance of the pollution.
    </h4>
    <h2> Important to know</h2>
    <div id="Tab3" class="container">
    <ul  class="nav nav-pills">
    			<li class="active">
            <a  href="#1b" data-toggle="tab">Wood Pulp</a>
    			</li>
    			<li><a href="#2b" data-toggle="tab">Gold</a>
    			</li>
    			<li><a href="#3b" data-toggle="tab">Silver</a>
    			</li>
      		<li><a href="#4b" data-toggle="tab">Nickel</a>
    			</li>
    		</ul>

    			<div class="tab-content clearfix">
    			  <div class="tab-pane active" id="1b">
            <br><p class="lead mb-5"> The Arctic region is warmer than it used to be and it continues to get warmer. Over the past 30 years, it has warmed more than any other region on earth. Most scientists agree that Arctic weather and climate are changing because of human-caused climate change.
<br><br>
Arctic warming is causing changes to sea ice, snow cover, and the extent of permafrost in the Arctic. In the first half of 2010, air temperatures in the Arctic were 4° Celsius (7° Fahrenheit) warmer than the 1968 to 1996 reference period, according to NOAA. Satellite data show that over the past 30 years, Arctic sea ice cover has declined by 30 percent in September, the month that marks the end of the summer melt season. Satellite data also show that snow cover over land in the Arctic has decreased, and glaciers in Greenland and northern Canada are retreating. In addition, frozen ground in the Arctic has started to thaw out. Scientists first started to see changes in the Arctic climate in the 1970s and 1980s.
<br><br>
Changes in the Arctic climate are important because the Arctic acts as a refrigerator for the rest of the world. The Arctic region gives off more heat to space than it absorbs from outside, which helps cool the planet. So changes in the Arctic climate could affect the climate in the rest of the world.</p>
           <iframe src="http://www.youtube.com/embed/2DLnhdnSUVs"
            width="560" height="315" frameborder="0" allowfullscreen></iframe>
    				</div>
    				<div class="tab-pane fade" id="2b">
              <br><p class="lead mb-5">Burning fossil fuels puts carbon into the atmosphere. Other smaller sources include industrial processes such as cement manufacture and natural gas flaring. Fossil fuels provide most of the energy that supports human transportation, electricity production, heating and cooling of buildings, and industrial activity. Oil used to be the dominant fossil fuel, but as of 2008, coal is dominant (40% to oil’s 37%).
            <br><br>    Burning all of the world’s reserves of fossil fuels such as coal, oil and gas could heat up the Earth enough to melt the entirety of Antarctica, driving sea levels catastrophically high, a new study warns.
        <br><br>  The Antarctic Ice Sheet, the largest ice cap on Earth, stores the equivalent of 58 meters (close to 200 feet) of water in terms of global sea level rise. Should it all melt, cities such as New York, Tokyo and Shanghai would all be submerged.
          “Burning the currently attainable fossil fuel resources is sufficient to eliminate the ice sheet,” the study, published in Science Advances on Friday, said.
          The good news is that such an event would not happen overnight. It would likely take as much as tens of thousands of years before Antarctica became ice-free.</p>
            <img src='img/weather.png'class='img-responsive'>
    				</div>
            <div class="tab-pane fade" id="3b">
              <br><p class="lead mb-5">Forests cover 31% of the land area on our planet. They produce vital oxygen and provide homes for people and wildlife. Many of the world’s most threatened and endangered animals live in forests, and 1.6 billion people rely on benefits forests offer, including food, fresh water, clothing, traditional medicine and shelter.
              <br><br>  Forests play a critical role in mitigating climate change because they act as a carbon sink—soaking up carbon dioxide that would otherwise be free in the atmosphere and contribute to ongoing changes in climate patterns. Deforestation undermines this important carbon sink function. It is estimated that 15% of all greenhouse gas emissions are the result of deforestation.</p>
    				</div>
              <div class="tab-pane fade" id="4b">
              <br><p class="lead mb-5"> Most farm-related emissions come in the form of methane (CH4) and nitrous oxide (N2O). Cattle belching (CH4) and the addition of natural or synthetic fertilizers and wastes to soils (N2O) represent the largest sources, making up 65 percent of agricultural emissions globally.<br><br> Smaller sources include manure management, rice cultivation, field burning of crop residues, and fuel use on farms. At the farm level, the relative size of different sources will vary widely depending on the type of products grown, farming practices employed, and natural factors such as weather, topography, and hydrology.</h4>
    				</div>
    			</div>
  </div>
  </div>
</div>
<!-- Footer -->
<footer class="footer text-center">
  <div class="container">
    <ul class="list-inline mb-5">
      <li class="list-inline-item">
        <a class="rounded-circle text-white mr-3" href="https://www.facebook.com/">
          <i class="icon-social-facebook"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="rounded-circle" href="https://www.instagram.com/">
          <i class="icon-social-instagram"></i> </a>
      </li>
      <li class="list-inline-item">
        <a class="rounded-circle" href="https://www.twitter.com/greenpeace/">
          <i class="icon-social-twitter"></i> </a>
      </li>
      <li class="list-inline-item">
        <a class="rounded-circle" href="https://www.pinterst.com/">
          <i class="icon-social-pinterest"></i>
        </a>
      </li>
    </ul>
    <p class="text-muted small mb-0">Copyright &copy; DataGirls</p>
  </div>
</footer>
<style>
body {
      font-family: 'Lato', sans-serif;
    }
</style>
</body>
</html>
