<!DOCTYPE html>
<head>
<title> Chrt.</title>
<link rel='shortcut icon' href="static/img/lg1.png">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<!-- script for nav tab -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>Chrt.</title>

<!-- Bootstrap Core CSS -->
<link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/staticcss/stylish-portfolio.min.css" rel="stylesheet">
<link href="static/page1.css" rel="stylesheet">
<link href='/static/vendor/bootstrap/css/bootstrap.css' rel='stylesheet'>


<body>
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('index') }}">Chrt.</a>
        </div>
      <a id="donate" class="pull-right" href="{{ url_for('index') }}"> <button class="btn btn-danger navbar-btn">Join us</button></a></div>
      </div>
    </nav>
</header>

  <div id="nav" class='container'>
  <div class='jumbotron'>
  <div class="row">
      <h1> About Us </h1>
  </div>
    <h2> chrt. is a UK non governmental organisation, which is working towards solution </h2>
    <h4>
        We aim to inform people about commodities! </h4>
    <h2> Important to know</h2>
    <div id="Tab3" class="container">
    <ul  class="nav nav-pills">
    			<li class="active">
            <a  href="#1b" data-toggle="tab">Wood Pulp</a>
    			</li>
    			<li><a href="#2b" data-toggle="tab">Gold</a>
    			</li>
    			<li><a href="#3b" data-toggle="tab">Silver</a>
    			</li>
      		<li><a href="#4b" data-toggle="tab">Nickel</a>
    			</li>
    		</ul>
        </div>
  </div>
</div>
<!-- Footer -->
<footer class="footer text-center">
  <div class="container">
    <ul class="list-inline mb-5">
      <li class="list-inline-item">
        <a class="rounded-circle text-white mr-3" href="https://www.facebook.com/">
          <i class="icon-social-facebook"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="rounded-circle" href="https://www.instagram.com/">
          <i class="icon-social-instagram"></i> </a>
      </li>
      <li class="list-inline-item">
        <a class="rounded-circle" href="https://www.twitter.com/greenpeace/">
          <i class="icon-social-twitter"></i> </a>
      </li>
      <li class="list-inline-item">
        <a class="rounded-circle" href="https://www.pinterst.com/">
          <i class="icon-social-pinterest"></i>
        </a>
      </li>
    </ul>
    <p class="text-muted small mb-0">Copyright &copy; DataGirls</p>
  </div>
</footer>
<style>
body {
      font-family: 'Lato', sans-serif;
    }
</style>
</body>
</html>
