<!DOCTYPE html>
<head>
<title>Arctic Sanctuary</title>
<link rel='shortcut icon' href="img/logo1.png">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta content="text/html; charset=utf-8" http-equiv="content-type">
<meta content="width=device-width, initial-scale=1" name="viewport"><!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags --><!-- Bootstrap -->

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="campaing">

<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">Cold Ice</a>
        </div>
      <div id="donate" class="pull-right"><button class="btn btn-danger navbar-btn">Donate</button></div>
      </div>
    </nav>
</header>

<div class="container vertical-center">
  <div class="col-md-6 col-md-offset-3">
    <div class="jumbotron">
      <div class="row">
        <div class="col-sm-8">
      <h1> Arctic Sanctuary</h1>
        </div>
      </div>
    <h4> Climate change has already removed at least 75 percent of Arctic summer sea ice volume at rates never before experienced in human history.</h4>
    <h4>We are calling for the creation of an Arctic Sanctuary that would put a significant portion of Arctic waters off limits
        to exploitation and respect the rights Arctic communities.</h4>
    <h4>  Within the Arctic Sanctuary, there would be no fishing, no military activity and no exploration for or extraction of fossil fuels or other minerals from the seabed.</h4>
    <h4> Join our campaign supporting the Arctic Sanctuary!</h4>

      <form class="form1" id="initial-signup" method="post" name="initial-signup" novalidate="novalidate" action="">


                                  <div class="fieldset" id="firstname-cont">
                                      <div class="formLabel" style="display: none;">
                                          <label class="field">Your firstname <span aria-required="true" class="required">*</span>
                                          </label>
                                      </div>
                                      <div class="input">
                                          <div class="form-group has-feedback">
                                              <input aria-required="true" class="text form-control" id="firstname" name="firstname" placeholder="First name*" required="required" size="16" type="text">
                                            </div>
                                      </div>
                                  </div>
                                  <div class="fieldset" id="lastname-cont-2">
                                      <div class="formLabel" style="display: none;">
                                          <label class="field">Your lastname<span aria-required="true" class="required">*</span>
                                          </label>
                                      </div>
                                      <div class="input">
                                          <div class="form-group has-feedback">
                                              <input aria-required="true" class="text form-control" id="lastname" name="lastname" placeholder="Last name*" required="required" size="16" type="text"></div>
                                      </div>
                                  </div>
                                  <div class="fieldset" id="email-cont">
                                      <div class="formLabel" style="display: none;">
                                          <label class="field">Your email address<span aria-required="true" class="required">*</span>
                                          </label>
                                      </div>
                                      <div class="input">
                                          <div class="form-group has-feedback">
                                              <input aria-required="true" class="text form-control" id="email" name="email" placeholder="Email address*" required="required" size="48" type="email">
                                          </div>
                                      </div>
                                  </div>
                                  <div class="fieldset" id="phone-cont">
                                      <div class="formLabel" style="display: none;">
                                          <label class="field">Phone</label>
                                      </div>
                                      <div class="input">
                                          <div class="form-group has-feedback">
                                              <input class="text form-control" id="phone" name="phone" placeholder="Phone" size="8" type="text"></div>
                                      </div>
                                  </div>
                                  <div class="slidedown-fields" style="display: block;">
                                    <div class="fieldset" id="addr-cont">
                                        <div class="formLabel" style="display: none;">
                                            <label class="field">Address</label>
                                        </div>
                                        <div class="input">
                                            <div class="form-group has-feedback has-success">
                                                <input class="text form-control valid" id="addr1" name="addr1" placeholder="Address" size="8" type="text"><span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                                <label for="addr1" class="error" style="display: none;">Please enter your address</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fieldset" id="zip-cont">
                                        <div class="formLabel" style="display: none;">
                                            <label class="field">Postcode</label>
                                        </div>
                                        <div class="input">
                                            <div class="form-group has-feedback has-success">
                                                <input class="text form-control google-fill valid" data-google="postal_code" id="zip" name="zip" placeholder="Postcode" size="8" type="text"><span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                                <label for="zip" class="error" style="display: none;">Please enter your postcode</label>
                                            </div>
                                        </div>
                                    </div>

<label class="field"> Where did you hear about us?</label>
<select size="1" id="custom-8041" name="custom-8041">
  <option value="Select...">Select...</option>
  <option value="Guardian">Guardian</option>
  <option value="LSE website">LSE website</option>
  <option value="Code First">Code First</option>
  <option value="Greenpeace website">Greenpeace website</option>
  <option value="WWF website">WWF website</option>
  <option value="National Geographic website">National Geographic website</option>
  <option value="BBC">BBC</option>
  <option value="Online ad">Online ad</option>
</select>
</div>
        <button class="button" data-checkbox-id="custom-8039" type="button" id="send-info">Join our Campaign</button>
           <div class="input">
             <label class="field">If you sign up we will keep you updated about our campaigns and other ways you can help, by email, post, phone and text. We promise that we will never sell or swap your details and you can opt out at any time. And if you don’t want us to phone you, please tick this box.<input id="custom-8824" name="custom-8824" type="checkbox" value="1"></label>
         </div>
       </form>
  </div>
  </div>
</div>
<!-- Footer -->
<footer class="footer text-center">
    <p class="text-muted small mb-0">Copyright &copy; Two Marias</p>
</footer>

<style>
body {
      background-image: url("img/Arctic_sea.jpg");
      background-position: center;
      background-size: cover;
      font-family: 'Lato', sans-serif;
      }
  .vertical-right {
        min-height: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
      }
  .jumbotron {
    margin-left: -200px!important;
    background-color: #E3E8F4;
    }
    .button {
      border-radius: 5px;
      background-color: #0B6891;
      border: none;
      color: #E3E8F4;
      font-size: 18px;
      padding: 10px;
      width: 200px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    }
</style>
</body>

</html>
