<!doctype html>

<html>
<head>
    <title>chrt.</title>
    <link rel='shortcut icon' href="static/img/logo1.png">
    <link href="static/css/stylish-portfolio.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap/css/bootstrap.min.css"rel="stylesheet">
    <link href="static/page1.css"rel="stylesheet">
  <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
  </head>

<body id="page-top">
    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">Chrt.</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#page-top">Home</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">Who we are</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#portfolio">Campaigns</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#contact">Contact Us</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">chrt.</h1>
        <h3 class="mb-5">
          <em> charts </em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Discover Charts</a>
      </div>
      <div class="overlay"></div>
    </header>

    <!-- About -->
    <section class="content-section bg-light" id="about">
      <div class="container text-center">
        <div class="row">

            <h2> Graphs are an art for the researchers </h2>
  <p class="lead mb-5">
      We aim to increase awareness . <p>
    <a href="About_us.html"> <button class="button"><span><em>Find out more</em></span></button> </a>

      </div>
    </div>
    </section>

    <!-- Partners -->
    <section class="content-section bg-primary text-white text-center" id="partners">
      <div class="container">
        <div class="content-section-heading">
            <h3 class="text-secondary mb-0">Partners and influences</h3>
          <h2 class="mb-5">In both fundraising and grant making, we work closely with other NGOs around the world to identify projects that will deliver research, investigations and education to promote sustainable development, and protect our planet.</h2>
          <p> Organisations with whom we collaborate <p>
        </div><br><br>
        <div class="row">
          <div class="col-sm-4">
            <a href="https://www.greenpeace.org.uk/what-we-do/climate/">
            <img  id=green src='static/img/green.png'>
          </a>
            </span>
          </div>
          <div class="col-sm-4">
            <a href="http://www.nationalgeographic.co.uk/environment-and-conservation">
            <img id=ng src='static/img/ng.png'>
          </a>
            </span>
          </div>
          <div class="col-sm-4">
            <a href="https://www.wwf.org.uk/where-we-work/places/arctic">
              <img id=wwf src='static/img/WWF.png'>
            </a>
            </span>
          </div>
        </div>
      </div>
    </section>

    <!-- Donate -->
    <section class="callout">
      <div class="container text-center">
        <h2>
      <em> Start with us</em> </h2>
        <a id=donate class="btn btn-primary btn-xl" href="Campaign.html">Adopt a Bear</a>
      </div>
    </section>

    <!-- Campaigns -->
    <section class="content-section" id="portfolio">
      <div class="container">
        <div class="content-section-heading text-center">
          <h3 class="text-secondary mb-0">Campaigns</h3>
          <h2 class="mb-5">Recent Projects</h2>
        </div><br>
        <div class="row no-gutters">
          <div class="col-lg-6">
            <a class="portfolio-item" href="Campaign.html">
              <span class="caption">
                <span class="caption-content">
                  <h2>Our Scientists in the Field</h2>
                  <p class="mb-0"> Scientists travel to the Arctic Ocean, and the Arctic tundra to conduct field work in some of the harshest conditions on Earth. </p>
                </span>
              </span>
              <img class="img-fluid" src="static/img/weddel_resized.jpg" alt=""></a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="Campaign.html">
              <span class="caption">
                <span class="caption-content">
                  <h2>Polar bears</h2>
                  <p class="mb-0">Studying how polar bears fare during Arctic summers, which are lengthening due to climate change.</p>
                </span>
              </span>
              <img class="img-fluid" src="static/img/home_page2_resized.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="Campaign.html">
              <span class="caption">
                <span class="caption-content">
                  <h2>Arctic Ocean changes</h2>
                  <p class="mb-0">The project is looking at how environmental change affects Arctic food webs.</p>
                </span>
              </span>
              <img class="img-fluid" src="img/seals_resized.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="Campaign.html">
              <span class="caption">
                <span class="caption-content">
                  <h2>Arctic Ecozone</h2>
                  <p class="mb-0">Study how does global warming affect Arctic ecozone.</p>
                </span>
              </span>
              <img class="img-fluid" src="img/home_page8_resized.jpg" alt="">
            </a>
          </div> <br>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section id="newsletter" class="content-section bg-primary text-white">

  <div class="container">
    <h2>Subscribe to our Newsletter</h2>
  </div>
  <div class="container">
    <input type="text" placeholder="Email address" name="mail" required>
    <br>
  </div>
  <div class="container">
    <input type="submit" value="Subscribe">
  </div>
    </section>

    <!-- Map -->
    <section id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.8487511611397!2d-0.12693948480418982!3d51.51599077963642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b33383aede3%3A0xd3cb62c1857b082c!2sLSE+High+Holborn!5e0!3m2!1sen!2suk!4v1521393103064"></iframe>
      <br/>
      <small>
        <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.8487511611397!2d-0.12693948480418982!3d51.51599077963642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b33383aede3%3A0xd3cb62c1857b082c!2sLSE+High+Holborn!5e0!3m2!1sen!2suk!4v1521393103064"></a>
      </small>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <ul class="list-inline mb-5">
          <li class="list-inline-item">
            <a class="rounded-circle text-white mr-3" href="https://www.facebook.com/">
              <i class="icon-social-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="rounded-circle" href="https://www.instagram.com/">
              <i class="icon-social-instagram"></i> </a>
          </li>
          <li class="list-inline-item">
            <a class="rounded-circle" href="https://www.twitter.com/greenpeace/">
              <i class="icon-social-twitter"></i> </a>
          </li>
          <li class="list-inline-item">
            <a class="rounded-circle" href="https://www.pinterest.co.uk/">
              <i class="icon-social-pinterest"></i>
            </a>
          </li>
        </ul>
        <p class="text-muted small mb-0">Copyright &copy; DataGirls</p>
      </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

<script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="static/js/stylish-portfolio.min.js"></script>
  </body>
</html>
